<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyTestNgApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="~/clientJs/favicon.ico">
<link rel="stylesheet" href="~/clientJs/styles.css"></head>
<body>
  @RenderBody()

<script src="~/clientJs/runtime-es2015.js" type="module">
</script><script src="~/clientJs/runtime-es5.js" nomodule defer>
</script><script src="~/clientJs/polyfills-es5.js" nomodule defer>
</script><script src="~/clientJs/polyfills-es2015.js" type="module">
</script><script src="~/clientJs/vendor-es2015.js" type="module">
</script><script src="~/clientJs/vendor-es5.js" nomodule defer>
</script><script src="~/clientJs/main-es2015.js" type="module">
</script><script src="~/clientJs/main-es5.js" nomodule defer></script>

</body>
</html>
